* {
  box-sizing: border-box;  
}

body {

    font-family: "Verdana";
    margin: 0 auto;
    font-size: 18px;
 
}

header {
    
    background-color: green;
    padding: 2rem;
    text-align: left;
    
}



a {
    text-decoration: none;
    color: lightslategray;
    
}

nav a {
    text-decoration: underline;
    color: white;
}

.portal-items a {
    color: white;
    margin-top: 100px; 
    
   
}

h1 {
    font-size: 2.7rem;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    margin: 50px auto 15px auto;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    margin: 50px auto 15px auto;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 70;
  
}

ul {
    list-style: none;
    background-color: lightslategray; 
    padding: 2rem;
    margin: 0px;
}

.headerbild {
    text-align: center;
}

.telnr {
    text-align:center;

}

.email {
    text-align: center;
    margin-bottom: 30px; 
}

.subline {
    text-align:left;
    letter-spacing: 3px;
}

.intro {
    padding: 2rem;
    text-align: center;
}

.portale {
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom: 50px; 
    
}

.portal-items {
    margin: 0 50px;
    text-align: center;
    
}

.subline-portale {
    color: white; 
    
  