* {
  box-sizing: border-box;  
}

body {

    font-family: "Verdana";
    margin: 0 auto;
    font-size: 18px;
    color: #262626; 
}

header {
    
    background-color: lightslategray;
    padding: 2rem;
   
}

.headerbild {
    text-align: center;
}

.intro-text {
    text-align: center;
    
}


/* Grid Intro */
.intro {
    display:grid;
    text-align: left; 
    
}

@media (min-width: 768px){
    .intro {
        grid-template-columns: 1fr 3fr;
    }
    .headerbild {
        margin-top: 50px; 
    }

    .intro-text {
        margin-left: 20px; 
        text-align: left; 
    } 
}
/* End Grid Intro */


/* Grid Interessen & Skills */
.interessen-skills {
    display:grid;
}

@media (min-width: 768px){
    .interessen-skills {
        grid-template-columns: 1fr 1fr; 
        grid-gap: 60px;  
    } 
}
/* End Grid Interessen & Skills */


/* Grid Portale */
@media (min-width: 300px){
    .portale {
        grid-template-columns: 1fr 1fr; 
         
        
    } 
}

@media (min-width: 1000px){
    .portale {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
         
    } 
}
/* End Grid Portale */
.berufserfahrung {
    display:grid; 
}

@media (min-width: 768px){
    .berufserfahrung{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 10px; 
    
    }
    .section-berufserfahrung {
        justify-items: center;
    }
}
/* End Grid Berufserfahrung*/


/* Grid Weiterbildung */
.weiterbildung {
    display:grid; 
}

@media (min-width: 768px){
    .weiterbildung{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 10px; 
    
    }
    .section-weiterbildung {
        justify-items: center;
    }
}

/* End Grid Weiterbildung */

/* Styling Headlines*/

h1 {
    font-size: 2.7rem;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    margin: 50px auto 15px auto;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    margin: 50px auto 15px auto;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 70;
  
}


h4 {
    text-align: center;
    margin: 50px auto 15px 30px;
    font-size: 1.3rem;
    letter-spacing: 5px;
    font-weight: 50; 
}

.subline {
    text-align:left;
    letter-spacing: 3px;
}
/* End Styling Headlines*/



/* Text & Anchor Stylings*/
.telnr {
    text-align:center;

}

.email {
    text-align: center;
    margin-bottom: 30px; 
}


a {
    text-decoration: none;
}

nav a {
    color: white; 
    font-size: 0.9rem; 
    margin-right: 20px; 
}

.email a {
    color: lightslategray; 
}

.telnr a {
    color: lightslategray; 
}


.portal-items a {
    color: white;
     
}

.intro {
    padding: 2rem;
    text-align: center;
    margin-right: 20px; 
}

 

/* End Text & Anchor Stylings*/


/* Interest & Skills*/

.interessen {
    background-color: lightgray; 
    
}

.skills {
    background-color: lightgray;
    
}

.interessen ul {
    list-style: none;
    padding: 2rem;
    margin: 0px;
    text-align: center; 
}

.interessen li {
    display: inline-block;
    background-color: lightslategray;
    color: white; 
    margin: 10px;
    padding: 5px;
    border-radius: 5px; 
  
}

.skills ul {
    list-style: none;
    padding: 2rem;
    margin: 0px;
    text-align: center; 
}

.skills li {
    display: inline-block;
    background-color: lightslategray;
    color: white; 
    margin: 10px;
    padding: 5px;
    border-radius: 5px; 
  
}

/* End Interest & Skills*/



.portale {
    background-color: lightslategray;
    display: grid;
    justify-items: center;
    padding-bottom: 20px;    
}

.portal-items {
    text-align: center;    
}




.section-berufserfahrung {
    
    background-color: lightgrey; 
    padding: 30px; 
    
}



.section-weiterbildung {
    
    background-color: lightgrey; 
    padding: 30px; 
    
}

.job {
    list-style: none; 
    font-weight: bold; 

  
}


.zeitraum {
    list-style: none;  
    color: lightslategray;
 
    font-size: 0.9rem; 
    margin: 5px 0; 
       
}


.unternehmen{
    list-style: none; 
    font-size: 0.9rem; 
    
}

.footer{
      margin-bottom: 0; 
      margin-top: 70px; 
      background-color: lightslategray;
      color: white; 
      padding: 20px; 
      font-size: 0.7rem; 

  }